@charset "UTF-8";
/* CSS Document */

/*
DEMO 1
*/

.simple_button {
	cursor:pointer;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
	position:relative;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.small{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
    font-size:12px;
}
 
.simple_button::before {
	content:"";
	display:block;
	position:absolute;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-decoration:none; 
}

 
.page_button
{
    float: left;
	padding-top: 0px;
    padding-bottom: 0px;
	margin-left: 10px;
}

.page_button_selected
{
	margin-left: 10px;
	text-align: center;
	float: left;
	padding-left:10px;
	padding-right:10px;
    font-size:12px;
	font-weight:bold;
	color:#000000;
	border: solid 1px #186f8f;
	border-radius: 3px;
	background-color: white;
}
