@CHARSET "UTF-8";


.form-area .formItem {
	overflow: hidden;
	_zoom: 1;
	padding: 10px;
}

.form-area label {
	width: 60px;
	float: left;
	padding-right: 10px;
	text-align: right;
	line-height: 40px;
}
input,.textarea,select,textarea{
	outline: none;
	color: #5B5B5B;
	font-size: 18px;
	resize:none;
	outline: none; 
}
.selectTag{
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	border: 1px #68B8E0 solid;
	width: 150px;
	background-color: white;
	height: 40px;
	position: relative;
	display: inline-block;
}
.selectItemPanel {
	width: 150px;
	border: 1px solid #68B8E0;
	cursor: pointer;
	background-color: white;
	position: absolute;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 3px 3px 3px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.0980392) 3px 3px 3px 0px;
	-o-box-shadow: rgba(0, 0, 0, 0.0980392) 3px 3px 3px 0px;
	-ms-box-shadow: rgba(0, 0, 0, 0.0980392) 3px 3px 3px 0px;
	-khtml-box-shadow: rgba(0, 0, 0, 0.0980392) 3px 3px 3px 0px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 3px 3px 3px 0px;
	padding: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200px;
	z-index: 9999;
	display: none;
}

.edit_div{
	outline: none;
	background-color: white;
	min-height: 150px;
	line-height: 20px;
	_height: 120px;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	_overflow-y: visible;
}

.form-area input {
	width: 300px;
	height: 40px;
	float: left;
	line-height: 40px;
	padding-left: 5px;
}

.login_panel {
	position: absolute;
	padding: 10px;
	background-color: white;
	border: 1px solid #AFA698;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
	-khtml-box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
	-webkit-transition: height .8s ease;
	-moz-transition: height .8s ease;
	-o-transition: height .8s ease;
	transition: height .8s ease;
}