@charset "utf-8";
html {
	width: 100%;
	overflow-y: scroll;
	overflow-x:hidden; 
}
body,ul,ol{ margin:0;}

body {
	background-attachment: fixed;
	height: 100%;
	position: relative;
	width: 100%;
    font-family:微软雅黑;
    line-height:30px; 
    font-size: 14px;
    word-wrap:break-word;
    background-image: url(../image/bodybg.jpg);
}
 a {
text-decoration: none;
cursor: pointer;
}
ol, ul {
list-style: none;
}
.tip_blue {
	position: relative;
	zoom: 1;
	border: 1px solid #7BBEEF;
	background: #DFEEF9;
	color:#7BBEEF;
	text-align: center;
	line-height: 35px;
	-webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	-khtml-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	-ms-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
}

.tip_red {
	position: relative;
	zoom: 1;
	border: 1px solid #F95EB2;
	background: #FAD9EB;
	color:#F95EB2;
	text-align: center;
	line-height: 35px;
	-webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	-khtml-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	-ms-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
}

.tip_green {
	position: relative;
	zoom: 1;
	border: 1px solid #42B800;
	background: #EEFFE2;
	color:#72EC21;
	text-align: center;
	line-height: 35px;
	-webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	-khtml-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	-ms-box-shadow: 0 2px 8px 1px rgba(0,0,0,.35);
	box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .35);
}
.wrap {
			width: 100%;
			margin: 0 auto;
			_overflow: hidden;
}
.clear{
    clear:both;
    margin:0;
    padding:0;
}
#maincontent{
	background: url(../image/mainbody_bg.gif) repeat;
}
 .triangle{
	border-color: #C0C5CA transparent transparent transparent;
	border-style: solid;
	border-width: 5px 5px;
	font-size: 0;
	position: absolute;
	right: 3px;
	top: 15px;
	border-color: #666 transparent transparent;
	_border-color: #C0C5CA #f7f7f7 #f7f7f7 #f7f7f7;
	-webkit-transition: -webkit-transform .2s ease-in;
	-webkit-backface-visibility: hidden;
	-moz-transition: -moz-transform .2s ease-in;
	-o-transition: -o-transform .2s ease-in;
	transition: transform .2s ease-in;
}
.more:hover .triangle {
	-moz-transform: rotate(180deg);
	-moz-transform-origin: 50% 30%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 30%;
	-o-transform: rotate(180deg);
	-o-transform-origin: 50% 30%;
	transform: rotate(180deg);
	transform-origin: 50% 30%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	top: 5px	9;
}
.layer{
     -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		-khtml-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: white;
}
@-moz-keyframes glow{
    0% {
        -moz-box-shadow: 0 0 6px rgba(115, 187, 240, 0.5);
        border-color: rgba(210, 233, 249, 0.5);         
    }
    100% {
        -moz-box-shadow: 0 0 6px rgba(115, 187, 240, 0.8), 0 0 9px rgba(0, 140, 255, 0.8);
        border-color: rgba(210, 233, 249, 0.8); 
    }
}
@-webkit-keyframes glow{
    0% {
        -webkit-box-shadow: 0 0 5px rgba(115, 187, 240, 0.5);
        border-color: rgba(210, 233, 249, 0.5);         
    }
    100% {
        -webkit-box-shadow: 0 0 6px rgba(115, 187, 240, 0.8), 0 0 9px rgba(0, 140, 255, 0.8);
        border-color: rgba(210, 233, 249, 0.8); 
    }
}

@-o-keyframes glow{
    0% {
        --box-shadow: 0 0 6px rgba(115, 187, 240, 0.5);
        border-color: rgba(210, 233, 249, 0.5);         
    }
    100% {
        -o-box-shadow: 0 0 6px rgba(115, 187, 240, 0.8), 0 0 9px rgba(0, 140, 255, 0.8);
        border-color: rgba(210, 233, 249, 0.8); 
    }
}
@-ms-keyframes glow{
    0% {
        -ms-box-shadow: 0 0 6px rgba(115, 187, 240, 0.5);
        border-color: rgba(210, 233, 249, 0.5);         
    }
    100% {
        -ms-box-shadow: 0 0 6px rgba(115, 187, 240, 0.8), 0 0 9px rgba(0, 140, 255, 0.8);
        border-color: rgba(210, 233, 249, 0.8); 
    }
}
