@CHARSET "UTF-8";
/*---------------------------------toppage------------------------------*/
.leftnav {
	float: left;
	width: 230px;
	background: url(../image/tap_leftnav.png) repeat-y;
	min-height: 800px;
}

.leftnav ul li {
	height: 52px;
	line-height: 52px;
	padding: 0 28px;
	text-align: center;
}


.leftnav ul li.active a,.leftnav ul li:hover a {
	text-indent: 15px;
}

.leftnav ul li a {
	width: 100%;
	display: block;
	font-size: 16px;
	color: #666;
	border-bottom: solid 1px #E4E4E4;
	text-align: left;
	text-indent: 18px;
}

.rightcontent {
    padding: 20px;
    padding-bottom:100px;
    margin-left: 230px;
}

.logobanner {
	height: 90px;
}

.clearfix {
	zoom: 1;
}

.logobanner .tap-logo {
	width: 314px;
	height: 75px;
	margin-top: 8px;
	margin-left: 2px;
	float: left;
	cursor: pointer;
}

.topnav {
	height: 35px;
	float: right;
	margin-top: 28px;
	margin-right: 2px;
}

.tapmain {
			background-color: #14A7D5;
			height: 50px;
			-moz-box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
			-webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
			-khtml-box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
			box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
			-webkit-transition: height .8s ease;
			-moz-transition: height .8s ease;
			-o-transition: height .8s ease;
			transition: height .8s ease;
			border-bottom: 1px solid #BBB;
		 }

.nav .alignleft {
	background-color: #0684AC;
	width: 230px;
	font-size: 16px;
	text-align: center;
}

.nav div {
	height: 50px;
	line-height: 53px;
	color: white;
}

 

/*---------------------------------table------------------------------*/
.utable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border-top: solid 1px #D4D4D4;
	border-left: solid 1px #D4D4D4;
	text-align: center;
	font-size: 12px;
	 background: url(../image/rcontentbg.png) repeat;
	 word-break:break-all;
	 table-layout: fixed;
	 margin-right: 10px;
}
.utable tr th {
	background-color: #14A7D5;
	border: solid 1px #1E9CC4;
	color: white;
}
.utable tr td {
border-right: solid 1px #D4D4D4;
border-bottom: solid 1px #D4D4D4;
color: #666;
max-height: 80px;
line-height: 30px;
padding: 5px;
overflow: hidden;
white-space: nowrap;
}



