
.dialog {
left: auto;
top: auto;
right: 30px;
bottom: 0;
width: 562px;
background: white z-index:100;
-webkit-box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 20px -2px rgba(0,0,0,0.5);
-ms-box-shadow: 0 0 20px -2px rgba(0,0,0,0.5);
box-shadow: 0 0 20px -2px rgba(0, 0, 0, 0.5);
border: 1px solid #6D7A89;
}
.dialog_header {
background-color: #14A7D5;
border-bottom: 1px solid #6D7A89;
height: 40px; 
}
 