<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comsince.knowledge"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity android:name=".activity.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TestListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MusicPlayActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- music player service -->
        <service android:name=".service.MusicPlayerService" >
            <intent-filter>
                <action android:name="com.comsince.knowledge.service.MusicPlayerService" >
                </action>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.comsince.knowledge" />

</manifest>